<!--Ahora recibe una lista-->
@model List<CursoMVC_NET_Core.Models.User>
@{
    ViewData["Title"] = "Index";
}

<!--VISTA: Es lo que se muestra al Usuario-->

<h1>Index</h1>

<!--Usando el arroba de RAZOR, ya no es necesario el ; al final-->
@foreach (var user in Model)
{
    <div>
        @user.Email
    </div>
}


